/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
G R I D
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */


body, html {
  width: 100%;
  height: 100%;
}

// Container
.container { max-width: $max-width; margin: 0 auto; }
.container-full { max-width: 100%; }

// Grid
.grid-row {
  margin-bottom: $gutter / 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} // .grid-row


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Columns width */

[class*="col-"] {
  padding: $gutter / 2;
  position: relative;
}

.col {
  flex: 1;
  min-width: $max-width / $max-column;
  padding: $gutter / 2;
}

// Standard Devices Columns
@for $i from 1 through 12 {
  .col-#{$i} {
    max-width: calc((100% / 12) * #{$i});
  } // Loop .col
} // Standard Devices Columns

// Small Devices Columns
@media screen and (min-width: $media-smartphone) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      max-width: calc((100% / 12) * #{$i});
    }
  } // Loop .col-sm
} // Small Devices Columns

// Medium Devices Columns
@media screen and (min-width: $media-tablet) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      max-width: calc((100% / 12) * #{$i});
    }
  } // Loop .col-md
} // Medium Devices Columns

// Large Devices Columns
@media screen and (min-width: $media-desktop) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      max-width: calc((100% / 12) * #{$i});
    }
  } // Loop .col-lg
} // Large Devices Columns


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Push */

// Standard Devices Columns
@for $i from 1 through 12 {
  .push-#{$i} {
    left: calc((100% / 12) * #{$i});
  } // Loop .col
} // Standard Devices Columns

// Small Devices Columns
@media screen and (min-width: $media-smartphone) {
  @for $i from 1 through 12 {
    .push-sm-#{$i} {
      left: calc((100% / 12) * #{$i});
    }
  } // Loop .col-sm
} // Small Devices Columns

// Medium Devices Columns
@media screen and (min-width: $media-tablet) {
  @for $i from 1 through 12 {
    .push-md-#{$i} {
      left: calc((100% / 12) * #{$i});
    }
  } // Loop .col-md
} // Medium Devices Columns

// Large Devices Columns
@media screen and (min-width: $media-desktop) {
  @for $i from 1 through 12 {
    .push-lg-#{$i} {
      left: calc((100% / 12) * #{$i});
    }
  } // Loop .col-lg
} // Large Devices Columns


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Pull */

// Standard Devices Columns
@for $i from 1 through 12 {
  .pull-#{$i} {
    left: calc((100% / 12) * #{$i});
  } // Loop .col
} // Standard Devices Columns

// Small Devices Columns
@media screen and (min-width: $media-smartphone) {
  @for $i from 1 through 12 {
    .pull-sm-#{$i} {
      left: calc((100% / 12) * #{$i});
    }
  } // Loop .col-sm
} // Small Devices Columns

// Medium Devices Columns
@media screen and (min-width: $media-tablet) {
  @for $i from 1 through 12 {
    .pull-md-#{$i} {
      left: calc((100% / 12) * #{$i});
    }
  } // Loop .col-md
} // Medium Devices Columns

// Large Devices Columns
@media screen and (min-width: $media-desktop) {
  @for $i from 1 through 12 {
    .pull-lg-#{$i} {
      left: calc((100% / 12) * #{$i});
    }
  } // Loop .col-lg
} // Large Devices Columns
