body {
  background: #222;
  color: $colorTxt-w;
}


/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
H E A D E R
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

header {
  /* SIZE */
  /* STYLE */
  background: #000;
  /* TYPOGRAPHY */
  color: #fff;
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */

  // logo
  .logo i {
    font-size: 48px;
    color: $color-1;
  }
}


/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
M A I N
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

main {
  /* SIZE */
  /* STYLE */
  /* TYPOGRAPHY */
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */

  // Items
  .item {
    background: #000;
  }
    .title {
      font-weight: 500;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .artist {
      font-size: $fontBase;
      font-weight: 500;
      color: #5d5d5d;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .year { font-size: $fontBase * .75;}
}


/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
B O N U S
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

.authors-list {
  select {
    width: 200px;
    padding: $spaceMin;
    border: none;
    border-radius: 0px;
    appearance: button;
  }
}
