body {
  background: #222;
  color: $colorTxt-w;
}


/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
H E A D E R
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

header {
  /* SIZE */
  /* STYLE */
  background: #000;
  /* TYPOGRAPHY */
  color: #fff;
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */

  // logo
  .logo i {
    font-size: 48px;
    color: $color-1;
  }
}


/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
M A I N
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

main {
  /* SIZE */
  /* STYLE */
  /* TYPOGRAPHY */
  /* DISPLAY */
  /* POSITION */
  /* INTERACTION */

  // Items
  .item {
    min-height: 430px;
    background: #000;
  }
    .title {  }
    .artist {
      font-size: $fontBase;
      font-weight: 500;
      color: #ccc;
    }
    .year { font-size: $fontBase * .75;}
}


/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
F O O T E R
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */
